$padding: 16px;

body{
padding:$padding;
}

h6{
  padding: $padding * 2;
}

article{
  section{
    flex-grow: 1;
    flex-basis: 45%;
    border: 1px silver solid;
    -webkit-box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
    box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
    padding: 16px;
    margin: 16px;
    clear: both;
    overflow: auto;
    box-sizing: border-box;
  }

  section#selling-points{
    flex-grow: 2;
    flex-basis: 100%
  }
  code{
    background: #000;
    border: 1px solid #ddd;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word
  }

  code.before {
    float: left;
    width: 40%
  }

  code.after {
    float: right;
    width: 40%
  }
}

%success-error-warning{
  border: 1px solid #ccc;
  padding: 10px;
  color: #2748B3;
  width: 100%
}

.warning{
  @extend %success-error-warning;
  background-color: #000;
}


.success {
  @extend %success-error-warning;
  background-color: green
}

.error{
  @extend %success-error-warning;
  background-color: red;
}

.warning{
  @extend %success-error-warning;
  background-color: orange;
}
